<div class="mainContain">
  <div class="searchContain">
    <h1>OMDB API Search</h1>
    <label for="searchBox" class="searchSizing">Enter a title!</label>
    <input name="searchBox" ng-model="searchTerm" placeholder="Hit Me!" class="searchSizing"/>
    <button ng-click="search(searchTerm)" class="searchSizing">Go!</button>
  </div>
  <div class="yourMoviesContain">
    <div ng-repeat="movie in yourMovies" class="singleMovie">
      <div id="riser">
        <h3>{{movie.Title}}</h3>
        <img ng-src="{{movie.Poster}}" alt="{{post.Title}}"/>
      </div>
    </div>
  </div>
</div>
