<!DOCTYPE html>
<html ng-app='cloneddit'>
  <head>
    <meta charset="utf-8">
    <title>cloneddit</title>
    <link rel="stylesheet" type="text/css" href="cloneddit.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="clonedditController">
    <header class="align">
      <div class="switchContain" ng-click="sortSelector()">
        <span class='align'>
          <p>Time</p>
          <p>|  Votes  |</p>
          <p>Title</p>
        </span>
        <div class="knobBase selector2" id="switch">
          <div class="knobMain knobShadow2" id="knobMain">
            <div class="knobLine">
            </div>
          </div>
        </div>
      </div>
      <input type="text" class="forHeader" ng-model="searchBox" placeholder="search">
      <button class="headerButton" ng-click="postFormReveal()">Broadcast</button>
      <form name="postCreation" ng-submit="newPost()" class='make' ng-show="postForm">
        <h1>Post</h1>
        <label for='postTitle'>Title</label>
        <div>
          <input type='text' name='postTitle' ng-model='addPost.title' required/>
        </div>
        <label for='postAuthor'>Username</label>
        <div>
          <input type='text' name='postAuthor' ng-model='addPost.author' required/>
        </div>
          <label for='postContent'>Record Your Transmission:</label>
        <div>
          <textarea rows='8' cols='100' name='postContent' ng-model='addPost.content' required></textarea>
        </div>
        <label for='postImage'>Image URL</label>
        <div>
          <input type='url' name='postImage' ng-model='addPost.image' required/>
        </div>
        <label for='postAlt'>Image Summary</label>
        <div>
          <input type='text' name='postAlt' ng-model='addPost.imageAlt' required/>
        </div>
        <input type="submit" value="Send Transmission"/>
      </form>
      <!-- <select  ng-model='sorter' ng-init="sorter='-votes'">
        <option value='-votes'>Votes</option>
        <option value='-time'>Time</option>
        <option value='title'>Title</option>
      </select> -->
    </header>
    <div class="mainContain">
      <div ng-repeat="post in posts | orderBy: sorter | filter: searchBox" class="repeatContain bottomSpacer">
        <div class="postContain">
          <div class='bottomSpacer'>
            <div>
              <h1 class="topKill">{{post.title}}</h1>
            </div>
            <div class='metaData'>
              <p class='align'>{{post.author}} <i id='FF'class="fa fa-microphone" aria-hidden="true"></i></p>
              <p>{{post.time | amCalendar}}</p>
            </div>
            <div ng-class='{highlight: search(id) == searchBox}'>
              {{post.content}}
            </div>
          </div>
          <div class='commentButtons'>
            <div>
              <div class='voteJustify'>
                {{post.votes}}
              </div>
              <div class='align'>
                <button class="vote up" ng-click="upVote(id)" ng-init='id=post.id'></button>
                <button class="vote down" ng-click="downVote(id)"></button>
              </div>
            </div>
            <div class='align'>
              <button class="viewButton" ng-click="commentShow(post)" ng-init='id=post.id'>
                {{post.commentCount}}
                <ng-pluralize count="post.commentCount"
                              when="{'1': 'comment',
                                 'other': 'comments'}">
                </ng-pluralize>
              </button>
              <button class="makeButton" ng-click="commentFormShow(post)">Transmit</button>
            </div>
          </div>
          <form name='commentCreation' class='make' ng-submit='addComment(id)' ng-show="post.makeComment">
            <h1>Comment</h1>
            <input type="text" value="post.commentCount" ng-model='newComment.id' hidden/>
            <label for='author'>Username</label>
            <div>
              <input type='text' name='author' ng-model='newComment.author' required/>
            </div>
              <label for='commentContent'>Your Comment?</label>
            <div>
              <textarea rows='4' cols='50' name='commentContent' ng-model='newComment.content' required></textarea>
            </div>
            <input type='submit' value='Send Reply'/>
          </form>
          <div ng-repeat='comment in post.comments' class='commentContain'>
            <div ng-show="post.commentHold">
              <div class="metaData">
                <p class="bottomKill">{{comment.author}}</p>
                <p class="bottomKill">{{comment.time | amCalendar}}</p>
              </div>
              <p class="topKill bottomKill">&#8594; {{comment.content}}</p>
            </div>
          </div>
        </div>
        <div class='imageContain'>
          <img ng-src='{{post.image}}' alt='{{post.imageAlt}}'>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0/angular-moment.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src='./cloneddit.js'></script>
  </body>
</html>
