body{
  background-color: #272D2D;
  color:#EDF5FC;
}

span{
  display:flex;
  flex-flow: row;
}

input{
  margin-bottom: 1.5vw;
}

button:hover{
  cursor: pointer;
}

select:hover{
  cursor: pointer;
}

span > p{
  margin-top: .1vw;
  margin-bottom: .5vw;
  margin-left: .5vw;
  font-size: 1.5vw;
}

.forHeader{
  height:1.5vw;
  margin-left:2vw
}

.headerButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.commentButtons{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.align{
  display: flex;
  flex-flow: row;
}

#FF{
  line-height: 1.5vw;
  font-size: 1vw;
  margin-left: 1vw;
}

.bottomKill{
  margin-bottom: 0vw;
}

.topKill{
  margin-top: 0vw;
}

.bottomSpacer{
  margin-bottom: 1.5vw;
}

.mainContain{
  display:flex;
  flex-flow: column;
  padding: 2.5vw;
}

.repeatContain{
  display: flex;
  flex-flow: row;
}

.postContain{
  border: .25vw ridge #B8C5D6;
  padding: 2vw;
  width: 50%;
  margin-bottom: 1.5vw;
  margin-right:1.5vw;
}

.commentContain{
  padding-left: 3.5vw;
}

.commentContain > div{
  margin-bottom: .5vw;
}

.metaData{
  display: flex;
  justify-content: space-between;
}

.imageContain{
  display: flex;
  justify-content: center;
  align-content: center;
  width:35%;
  max-width: 35%;
  height: 18vw;
  max-height: 18vw;
  overflow: hidden;
  border-radius:3em;
  border-right: .25vw ridge #B8C5D6;
  border-bottom: .25vw ridge #B8C5D6;
  border-left: .25vw groove #B8C5D6;
  border-top: .25vw groove #B8C5D6;
}

.imageContain img{
  width: 100%;
  height: 100%;
}

.make{
  margin-top: 2.5vw;
  background-color: #272D2D;
  position: absolute;
  right: 32%;
  border: .25vw ridge #B8C5D6;
  padding: 2.5vw;
  padding-top: 0vw;
  z-index: 10;
}

.vote{
  height:2vw;
  width: 2vw;
  border-radius: 50%;
  margin-right: .25vw;
}

.voteJustify{
  margin-left: 1.85vw;
}

.up{
  background-color: green;
}

.down{
  background-color: red;
}

.viewButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-top: 1.5vw;
}

.makeButton{
  background-color:#EDF5FC;
  height:2vw;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 1.5vw;
}

/*~~~~~~~~~~SORT SELECTOR~~~~~~~~~~~*/
.knobBase{
  display: flex;
  justify-content: center;
  align-content: center;
  height:5.25vw;
  width:5.25vw;
  border-radius:50%;
  background-color:silver;
  /*box-shadow: .1vw .25vw 1vw #272D2D;*/
  border-top: .25vw groove silver;
  border-left: .25vw groove silver;
  border-bottom: .25vw ridge silver;
  border-right: .25vw ridge silver;
  margin-left: 3.5vw;
}

.knobMain{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: 5vw;
  width: 2vw;
  border-radius: .35em;
  background-color: silver;
  box-shadow: .0vw .45vw 1vw #272D2D;
  margin-top:.15vw;
}

.knobLine{
  position: absolute;
  z-index: 10;
  height: 1.5vw;
  width: .25vw;
  background-color: black;
}

@-webkit-keyframes selector1{
  0%    { -webkit-transform: rotate(45deg);}
  100%  { -webkit-transform: rotate(-45deg);}
}

.selector1{
  -webkit-animation-name: selector1;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes knobShadow1{
  0%    {  box-shadow: .35vw .25vw 1vw #272D2D;}
  100%  {  box-shadow: -.35vw -.05vw 1vw #272D2D;}
}

.knobShadow1{
  -webkit-animation-name: knobShadow1;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes selector2{
0%    { -webkit-transform: rotate(-45deg);}
100%  { -webkit-transform: rotate(0deg);}
}

.selector2{
  -webkit-animation-name: selector2;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes knobShadow2{
  0%    {  box-shadow: -.35vw -.05vw 1vw #272D2D;}
  100%  {  box-shadow: .0vw .45vw 1vw #272D2D;}
}

.knobShadow2{
  -webkit-animation-name: knobShadow2;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes selector3{
0%    { -webkit-transform: rotate(0deg);}
100%  { -webkit-transform: rotate(45deg);}
}

.selector3{
  -webkit-animation-name: selector3;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes knobShadow3{
  0%    {  box-shadow: .35vw .45vw 1vw #272D2D;}
  10%    {  box-shadow: .35vw .05vw 1vw #272D2D;}
  100%  {  box-shadow: .35vw .05vw 1vw #272D2D;}
}

.knobShadow3{
  -webkit-animation-name: knobShadow3;
  -webkit-animation-duration: .25s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode:forwards;
}
