<!DOCTYPE html>
<html ng-app='cloneddit'>
  <head>
    <meta charset="utf-8">
    <title>cloneddit</title>
    <link rel="stylesheet" type="text/css" href="cloneddit.css">
  </head>
  <body ng-controller="clonedditController">
    <div class="mainContain">
      <div ng-repeat='post in posts' class="repeatContain">
        <div class="postContain">
          <div class='bottomSpacer'>
            <div>
              <h1 class="topKill">< {{post.title}} ></h1>
            </div>
            <div class='metaData'>
              <p>{{post.author}}</p>
              <p>{{post.time | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
            <div>
              {{post.content}}
            </div>
          </div>
          <div class="commentButtons">
            <button class="viewButton" ng-click="commentControl()">See Comments</button>
            <button class="makeButton" ng-click=""></button>
          </div>
          <div ng-repeat='comment in post.comments' class='commentContain'>
            <div ng-show="commentHold">
              <div class="metaData">
                <p class="bottomKill">{{comment.author}}</p>
                <p class="bottomKill">{{comment.time | date:"MM/dd/yyyy 'at' h:mma"}}</p>
              </div>
              <p class="topKill bottomKill">&#8594; {{comment.content}}</p>
            </div>
          </div>
        </div>
        <div class='imageContain'>
          <img ng-src='{{post.image}}' alt='{{post.imageAlt}}'>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js'></script>
    <script src='./cloneddit.js'></script>
  </body>
</html>
