body{
  background-color: #272D2D;
  color:#EDF5FC;
}

span{
  display:flex;
  flex-flow: row;
}

div > span{
  margin-top: 1vw;
  background-color: #A39BA8;
}

.bottomKill{
  margin-bottom: 0vw;
}

.topKill{
  margin-top: 0vw;
}

.bottomSpacer{
  margin-bottom: 1.5vw;
}

.mainContain{
  display:flex;
  flex-flow: column;
  padding: 2.5vw;
}

.repeatContain{
  display: flex;
  flex-flow: row;
}

.postContain{
  border: .25vw ridge #B8C5D6;
  padding: 2vw;
  width: 50%;
  margin-bottom: 1.5vw;
}

.commentContain{
  padding-left: 3.5vw;
}

.commentContain > div{
  margin-bottom: .5vw;
}

.metaData{
  display: flex;
  justify-content: space-between;
}

.imageContain{
  display: flex;
  justify-content: center;
  align-content: center;
  width:50%;
  max-width: 50%;
  height: 25vw;
  max-height: 25vw;
  overflow: hidden;
  border-radius:50%;
}
