.mainContain{
  display: flex;
  flex-direction: row;
  padding:1.5vw;
}

.headSpace{
  margin-top: 4vw;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 13vw;
  background-color: #EFD28D;
  border-radius: 1em;
  padding: .75vw;
}

.header > div{
  /*margin-left: 5.75vw;*/
}

.mainTitle{
  color: white;
  margin:0;
}

p > span{
  font-weight: bold;
}

th, td {
  padding: 1vw;
  border: .5vw solid rgba(211, 211, 211, .20);
}

.inline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartButton{
  background-color: #00AFB5;
  width:100%;
}
