body {
  background-color: #011936;
  color:#96BCBA;
}

#home:hover{
  cursor:pointer;
}

.bottomHeavy{
  margin-bottom: 3vw;
}

.inline{
  display: flex;
  flex-direction: row;
  padding: 1vw;
  margin-left: 9vw;
}

.mainContain{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 3vw;
}

.searchContain{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 35vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.searchSizing{
  width: 12vw;
  margin-left: 4vw;
  margin-bottom: .5vw;
}

.yourMoviesContain{
  display:flex;
  flex-wrap: wrap;
  background-color: #465362;
}

.singleMovie{
  width: 20vw;
}

#riser:hover{
  position:absolute;
  z-index: 10;
  border: .5vw groove #A39BA8;
  background-color: #465362;
  padding: .75vw;
}

.infoContain{
  padding: 5vw;
  padding-right: 15vw;
  padding-top: 0vw;
}

.rotten{
  background-color: #fcfca9;
  border-top: .5vw groove #A39BA8;
  border-left: .5vw groove #A39BA8;
  border-bottom: .5vw ridge #A39BA8;
  border-right: .5vw ridge #A39BA8;
}
