body {
  background-color: #011936;
  color:#96BCBA;
}

.inline{
  display: flex;
  flex-flow: wrap;
}

.mainContain{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 3vw;
}

.searchContain{
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 35vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
}

.searchSizing{
  width: 12vw;
  margin-left: 4vw;
  margin-bottom: .5vw;
}

.yourMoviesContain{
  display:flex;
  flex-wrap: wrap;
  background-color: #465362;
}

.singleMovie{
  width: 20vw;
}

#riser:hover{
  position:absolute;
  z-index: 10;
  border: .5vw groove #A39BA8;
  background-color: #465362;
  padding: .75vw;
}
